@charset "utf-8";
$breakpoints: (
    'sp': 'screen and (max-width: 780px)',
    'tab': 'screen and (min-width:781px) and (max-width:1024px)',
    'pc': 'screen and (min-width: 1025px)'
    ) !default;

@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
        @content;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

$font-ja: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
$font-en: 'Montserrat', sans-serif;